ENABLE_REALTIME_TRAFFIC=True
REALTIME_PROVIDER=open_data
REALTIME_CACHE_SECONDS=120
BRISBANE_TRAFFIC_VOLUME_URL=https://data.brisbane.qld.gov.au/api/explore/v2.1/catalog/datasets/traffic-data-at-intersection/records?limit=100
BRISBANE_INTERSECTION_LOCATIONS_URL=https://data.brisbane.qld.gov.au/api/explore/v2.1/catalog/datasets/traffic-management-intersection-locations-reference/records?limit=100
QLDTRAFFIC_GEOJSON_URL=https://api.qldtraffic.qld.gov.au/v2/events?apikey=your_qldtraffic_api_key_here
QLDTRAFFIC_API_KEY=your_qldtraffic_api_key_here
TOMTOM_API_KEY=your_tomtom_api_key_here
OTP_TTL_MINUTES=10
SMTP_HOST=
SMTP_PORT=587
SMTP_USERNAME=
SMTP_PASSWORD=
SMTP_FROM_EMAIL=
